{extend name="public/base" /}
{block name="main"}
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l"><a href="javascript:;" onclick="open_page('添加消息','<?php echo url('message/messageAdd')?>','','400')" class="btn btn-primary radius"><i class="Hui-iconfont"></i> 添加消息</a></span>
        <span class="r mt-5">共有记录：<strong>1</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-bg mt-10">
        <thead>
        <tr class="text-c">
            <th width="40">ID</th>
            <th>消息内容</th>
            <th width="120">创建时间</th>
            <th width="120">发布时间</th>
            <th width="120">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>2</td>
            <td>第一条系统消息</td>
            <td>2018-07-20 10:51:23</td>
            <td>2018-07-20 10:54:43</td>
            <td>
                已发布            </td>
        </tr>
        </tbody>
    </table>
    <span class="r pages mt-10"></span>
</div>
{/block}
<!-- 请在上方写此页面body相关内容 -->

<!-- 请在下方写此页面业务相关的脚本 -->
{block name="js"}
<script type="text/javascript">

</script>
{/block}
<!-- /请在上方写此页面业务相关的脚本 -->