{extend name="public/base" /}
{block name="main"}
<div class="Hui-article">
    <article class="cl pd-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
            <a href="javascript:;" onclick="open_page('添加权限节点', '{:url("rule/addRule")}', '', '400')" class="btn btn-primary radius"><i class="Hui-iconfont"></i> 添加权限节点</a></span> <span class="r">共有数据：<strong><?php echo count($list)?></strong> 条</span> </div>
        <table class="table table-border table-bordered table-bg mt-10">
            <thead>
            <tr class="text-c">
                <th width="40">ID</th>
                <th>权限名称</th>
                <th>权限路由</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($list as $v){?>
            <tr class="text-c top_<?php echo $v['p_id']?>">

                <td><?php echo $v['id']?></td>
                <td class="operate" style="text-align: left; padding-left: 10px">
                    <?php if(empty($v['deep'])){ echo empty($v['p_id']) ? '<a onclick="hide1(this, '.$v['id'].')"><span><i class="Hui-iconfont"></i></span></a>' : '-';echo $v['title'];} else echo str_repeat('&nbsp', $v['deep']*4).'-'.$v['title'];?>
                </td>
                <td><?php echo $v['name']?></td>
                <td>
                    <input class="btn btn-success radius size-MINI" type="button" onclick="open_page('编辑', '<?php echo url('rule/addRule', ['id' => $v['id']])?>', '', 400)" value="编辑">
                    <input class="btn btn-danger radius size-MINI ml-5" type="button" onclick="del(this, <?php echo $v['id']?>)" value="删除">
                </td>
            </tr>
            <?php } if(empty($list)){ ?>
            <tr class="text-l"><td colspan="20">没有找到匹配的记录</td></tr>
            <?php }?>
            </tbody>
        </table>
    </article>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    /*管理员-权限-添加*/
    function admin_permission_add(title, url, w, h){
        layer_show(title, url, w, h);
    }

    function admin_permission_edit(title, url, w, h){
        layer_show(title, url, w, h);
    }

    function display1(obj, id){
        $(".top_"+id).show();
        $(obj).parents("tr").find(".operate").prepend('<a onclick="hide1(this, '+id+')"><span><i class="Hui-iconfont"></i> </span></a>');
        $(obj).remove();
    }

    function hide1(obj, id){
        $(".top_"+id).hide();
        $(obj).parents("tr").find(".operate").prepend('<a onclick="display1(this, '+id+')"><span><i class="Hui-iconfont"></i> </span></a>');
        $(obj).remove();
    }


    function admin_permission_del(obj, id){
        layer.confirm('角色删除需谨慎，确认要删除吗？', function(index){
            $(obj).parents("tr").remove();
            layer.msg('已删除！', {icon:1, time:1000});
        });
    }

    function del(obj, id){
        layer.confirm('确认要删除吗？', function(index){
            $.ajax({
                type: 'post',
                url: "<?php echo url('rule/del')?>",
                data: {"id":id},
                success: function(data){
                    if(data.code == 0){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除！', {icon:1, time:1000});
                    }else{
                        layer.msg(data.msg, {icon:5, time:1000});
                    }
                }
            });
        });
    }
</script>
{/block}