{extend name="public/base" /}
{block name="main"}
<div class="Hui-article">
    <article class="cl pd-20">
        <div class="cl pd-5 bg-1 bk-gray"> <span class="l">
            <a href="{:url('role/addRole')}" class="btn btn-primary radius"><i class="Hui-iconfont"></i> 添加角色</a> </span> <span class="r">共有数据：<strong></strong> 条</span> </div>
        <div class="mt-10">
            <table class="table table-border table-bordered table-hover table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="6">角色管理</th>
                </tr>
                <tr class="text-c">
                    <th width="40">ID</th>
                    <th width="200">角色名</th>
                    <th>用户列表</th>
                    <th width="300">描述</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($list as $v){?>
                <tr class="text-c">
                    <td><?php echo $v['id']?></td>
                    <td><?php echo $v['title']?></td>
                    <td>
                        <?php if(empty($v['group'])){?>
                        --
                        <?php } ?>
                        <?php foreach($v['group'] as $v1){?>
                        <a href="#"><?php echo $v1['username']?></a>
                        <?php } ?>
                    </td>
                    <td><?php echo $v['description']?></td>
                    <td class="f-16">
                        <input class="btn btn-success radius size-MINI" type="button" onclick="" value="编辑">
                        <input class="btn btn-danger radius size-MINI ml-5" type="button" onclick="" value="删除">
                    </td>
                </tr>
                <?php } ?>


                </tbody>
            </table>
        </div>



    </article>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
</script>
{/block}