{extend name="public/base" /}
{block name="main"}
<div class="page-container">
    <form action="<?php echo url('goods/goodsList')?>" method="get">
        <div class="text-c">
            上传时间：
            <input type="text" name="start_time" value="" onfocus="WdatePicker()" id="datemin" class="input-text Wdate" style="width:120px;">
            至
            <input type="text" name="end_time" value="" onfocus="WdatePicker()" id="datemax" class="input-text Wdate" style="width:120px;">
            <input type="text" class="input-text" style="width:250px" placeholder="输入商品名称" name="search_name" value="">
            <select class="select-box" style="width: 80px;padding: 5px 5px;" size="1" name="status">
                <option value="" selected="">状态</option>
                <option value="1">待审核</option>
                <option value="2">已通过</option>
                <option value="3">未通过</option>
            </select>
            <button type="submit" class="btn btn-success radius"><i class="Hui-iconfont"></i> 搜索</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l"><a href="javascript:;" onclick="open_page('添加商品','<?php echo url('goods/goodsAdd'); ?>','1000')" class="btn btn-primary radius"><i class="Hui-iconfont"></i> 添加商品</a></span>
        <span class="r mt-5">共有记录：<strong></strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-bg mt-10">
        <thead>
        <tr class="text-c">
            <th width="40">ID</th>
            <th>商品名称</th>
            <th>Logo</th>
            <th>商品描述</th>
            <th>商品价格</th>
            <th>目的地</th>
            <th>须知</th>
            <th>地区编号</th>
            <th>地区名称</th>
            <th>状态</th>
            <th>上传时间</th>
            <th width="60">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>6</td>
            <td>333</td>
            <td><img class="avatar size-L" src="http://ly-goods-images.oss-cn-beijing.aliyuncs.com/2018-07-05/5b3dd93a6ef2b-07-05-16-39-22.png"></td>
            <td>333</td>
            <td>333</td>
            <td>3333</td>
            <td>333</td>
            <td>333</td>
            <td>3333</td>
            <td>已通过</td>
            <td>2018-07-05 16:39:23</td>
            <td>
                <input class="btn btn-success radius size-MINI" type="button" onclick="open_page('商品详情','/admin/goods/goodsshow/id/6/action/goodslist.html')" value="详情">
            </td>
        </tr>
        </tbody>
    </table>
    <span class="r pages mt-10"></span>
</div>
{/block}
<!-- 请在上方写此页面body相关内容 -->

<!-- 请在下方写此页面业务相关的脚本 -->
{block name="js"}
<script type="text/javascript">

</script>
{/block}
<!-- /请在上方写此页面业务相关的脚本 -->