{extend name="public/main" /}
{block name="main"}
<article class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="<?php echo url('goods/goodsAdd')?>" enctype="multipart/form-data">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入商品名称" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">Logo：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
                <input class="input-text upload-url" type="text" id="logo" readonly="" nullmsg="请上传封面！" style="width:200px">
                <a href="javascript:void(0);" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont"></i> 浏览文件</a>
                <input type="file" id="file" name="logo[]" onchange="imgReviewOne('file','preview')" class="input-file"></span>
                <img class="" id="preview" src="" alt="">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="desc" id="desc" class="textarea" placeholder="请输入商品描述" onkeyup="$.Huitextarealength(this,500)"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品价格：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入商品价格" id="current_price" name="current_price">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>目的地：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入目的地" id="address" name="address">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>须知：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="notice" id="notice" class="textarea" placeholder="请输入须知" onkeyup="$.Huitextarealength(this,500)"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>地区编号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入地区编号" id="area_id" name="area_id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>地区名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入地区名称" id="area_name" name="area_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">Banner：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
            <input class="input-text upload-url" type="text" id="banner" readonly="" nullmsg="请上传图片！" style="width:200px">
            <a href="javascript:void(0);" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont"></i> 浏览文件</a>
            <input type="file" id="banner_file" multiple="" name="banner[]" onchange="imgReviewMore('banner_file','banner_review')" class="input-file"></span>
                <div id="banner_review"></div>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{/block}
<!-- 请在上方写此页面body相关内容 -->

<!-- 请在下方写此页面业务相关的脚本 -->
{block name="js"}
<script type="text/javascript">
    function imgReviewOne(file, img){
        var docObj = document.getElementById(file);
        var imgObjPreview = document.getElementById("preview");
        imgObjPreview.style.display = 'block';
        $('#'+img).attr('class', 'avatar size-XL pt-10');
        imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
    }

    function imgReviewMore(file, img){
        var docObj = document.getElementById(file);
        var files = docObj.files;
        for(var i=0; i<files.length; i++){
            var url = window.URL.createObjectURL(files[i]);
            $('#'+img).append('<img class="avatar size-XL pt-10 pr-10" src="'+ url +'" alt="">');
        }
    }

    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-yellow',
            increaseArea: '20%'
        });
        $("#form").validate({
            rules:{
                title:{required:true,},
                desc:{required:true,},
                logo:{required:true,},
                banner:{required:true,},
                current_price:{required:true, number:true},
                address:{required:true,},
                notice:{required:true,},
                area_id:{required:true, number:true},
                area_name:{required:true,},
            },
            submitHandler:function(form){
                var options = {
                    success: function(data){
                        console.log(data);
                        /*
                        if(data.code == 0){
                            layer.msg(data.msg, {icon:1, time:1000});
                            setTimeout("closeWindow()", 1000);
                        }else{
                            layer.msg(data.msg, {icon:5, time:1000});
                        }
                        */
                    }
                };
                $(form).ajaxSubmit(options);
            }
        });
    });

    function closeWindow(){
        var index = parent.layer.getFrameIndex(window.name);
        window.parent.location.reload(index);
    }
</script>
{/block}
<!-- /请在上方写此页面业务相关的脚本 -->